* {
    box-sizing: border-box;
    }
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000000;
        background-color: #ffea00;
        
    }
    div.container {
        overflow: auto;
    
    }
    header {
        background-color: rgb(59, 100, 249);
        padding: 15px;
        text-align: center;
    }
    nav {
        float: left;
        width: 20%;
        text-align: center;
    }
    nav ul {
        padding-left: 0px;
    }
    nav li {
        list-style: none;
    }
    nav li a {
        background-color: rgb(59, 100, 249);
        padding: 8px;
        margin-top: 7px;
        display: block;
        width: 100%;
        color: black;
        font-weight: 700;
    }
    main {
        float: left;
        width: 60%;
        padding: 0 20px;
    }
    .right {
        background-color: rgb(59, 100, 249);
        float: left;
        width: 20%;
        padding: 15px;
        margin-top: 7px;
        text-align: center;
    }
    footer {
        background-color: rgb(59, 100, 249);
        text-align: center;
        padding: 10px;
        margin-top: 7px;
    }
/* For mobile phones: */
    @media only screen and (max-width: 620px) {
        nav,
        main,
        .right {
        width: 100%;
    }
}


